<%= form_with model: shop do |f| %>
  <% if shop.errors.any? %>
    <div>
      <h2><%= shop.errors.count %>件のエラーがあります</h2>
      <ul>
        <% shop.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name, "ショップ名" %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>